.Home-title {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 600;
}
.Home-authenticate {
  margin-bottom: 20px;
  font-size: 20px;
}
.UserHeader {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: #555555;
}
.Flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
