<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Todo Management App</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="my-app.css">
</head>

<body>
  <main class="TodoPageMain">

    <article>
      <h1 class="TodoPage-title">My-Todo-List</h1>
      <section class="AddTodo">
        <input class="AddTodo-text" type="text" placeholder="what's next">
        <input class="AddTodo-date" type="date">
        <input class="AddTodo-button" type="button" value="Add">
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Today</p>
          <p class="TodoSectionTitle-remainingcount">0/2</p>
        </div>
        <ul>
          <li class="TodoItem">

            <input class="TodoItem-Checkbox" type="checkbox">
            Submit Saas 201 Project
            <p class="TodoItem-overdueLabel">Overdue</p>
            <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
            </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItem-Checkbox" type="checkbox">
            Call Accountant
            <Submit SaaS 201 Project <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
              </a>
          </li>
        </ul>
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Tomorrow</p>
          <p class="TodoSectionTitle-remainingcount">0/1</p>
        </div>
        <ul>
          <li class="TodoItem">

            <input class="TodoItem-Checkbox" type="checkbox">
            Refill Grossaries
            <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
            </a>
          </li>
        </ul>
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Later</p>
          <p class="TodoSectionTitle-remainingcount">0/3</p>
        </div>
        <ul>
          <li class="TodoItem">

            <input class="TodoItem-Checkbox" type="checkbox">
            Visit Doctor
            <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
            </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItem-Checkbox" type="checkbox">
            Book Train Tickets
            <Submit SaaS 201 Project <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
              </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItem-Checkbox" type="checkbox">
            Shopping
            <Submit SaaS 201 Project <a class="TodoItem-delete" "href=" javascript:void(0)">
              <img src="images.png" width="15" height="15">
              </a>
          </li>
        </ul>
      </section>
    </article>
  </main>
</body>

</html>
